.cocktail-details {
    padding: 24px;
    display: flex;
    justify-content: center;
    min-height: 100%;
    height: 100%;
    flex-wrap: wrap;
}
@media (min-width: 650px) {
    .cocktail-details {
        padding: 24px 48px;
    }
}
