.background-image {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    min-width: 320px;
    background: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./resources/search.png");
}

.background-image_search {
    background-image: url("./resources/search.png");
}

.background-image_favorites {
    background-image: url("./resources/favorites.png");
}

.background-image_random {
    background-image: url("./resources/random.png");
}

.background-image_ingredients {
    background-image: url("./resources/ingredients.png");
}

.background-image_about {
    background-image: url("./resources/about.png");
}
