.rounded-collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rounded-collection__items {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0 16px;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 8%,
        rgba(0, 0, 0, 1) 92%,
        rgba(0, 0, 0, 0) 100%
    );
}

.rounded-collection__items::after {
    content: "";
    flex: 0 0 16px;
}

.rounded-collection__item {
    padding: 0;
    flex: 0 0 30px;
    height: 30px;
    outline: none;
    font-size: var(--text-size-control);
    line-height: var(--text-line-height-control);
    font-weight: var(--text-weight-control);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin-right: 8px;
}

.rounded-collection__item:last-child {
    margin-right: 0;
}

.rounded-collection__item:hover:not(.rounded-collection__item_selected) {
    background: rgba(255, 255, 255, 0.3);
}

.rounded-collection__item:active:not(.rounded-collection__item_selected) {
    background: rgba(255, 255, 255, 0.5);
}

.rounded-collection__item_selected {
    mix-blend-mode: screen;
    background: white;
    color: black;
}

.rounded-collection__arrow {
    flex: 0 0 30px;
    height: 30px;
}
