.random-content {
    width: 100%;
    height: 100%;
    padding: 16px 0;
    overflow: auto;
    flex: 1 0 auto;
    position: absolute;
}

.random-content__details {
    padding: 16px 0;
}

.random-content__board {
    height: 100%;
    width: 100%;
}
