.random-content {
    height: 100%;
    width: 100%;
    position: absolute;
    flex: 1 0 auto;
    overflow: scroll;
}

.random-content__details {
    padding: 16px 0;
}

.random-content__board {
    height: 100%;
    width: 100%;
}
