.icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_logo {
    background-size: cover;
    background-image: url("./resources/logo2.svg");
}

.icon_remove {
    background-image: url("./resources/remove.svg");
}

.icon_remove.icon_light {
    background-image: url("./resources/remove_light.svg");
}

.icon_search {
    background-image: url("./resources/search.svg");
}

.icon_search.icon_light {
    background-image: url("./resources/search_light.svg");
}

.icon_checked {
    background-image: url("./resources/checked.svg");
}

.icon_checked.icon_light {
    background-image: url("./resources/checked_light.svg");
}

.icon_arrow_up {
    top: -1px;
    position: relative;
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_down {
    top: 1px;
    position: relative;
    transform: rotate(180deg);
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_left {
    transform: rotate(-90deg);
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_right {
    transform: rotate(90deg);
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_up.icon_light,
.icon_arrow_down.icon_light,
.icon_arrow_left.icon_light,
.icon_arrow_right.icon_light {
    background-image: url("./resources/arrow_up_light.svg");
}
