.icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_logo {
    background-image: url("./resources/logo.svg");
}

.icon_logo.icon_light {
    background-image: url("./resources/logo_light.svg");
}

.icon_remove {
    background-image: url("./resources/remove.svg");
}

.icon_remove.icon_light {
    background-image: url("./resources/remove_light.svg");
}

.icon_search {
    background-position: left;
    background-image: url("./resources/search.svg");
}

.icon_search.icon_light {
    background-image: url("./resources/search_light.svg");
}

.icon_spinner {
    background-image: url("./resources/spinner.svg");
}

.icon_spinner.icon_light {
    background-image: url("./resources/spinner_light.svg");
}

.icon_category {
    background-image: url("./resources/category.svg");
}

.icon_category.icon_light {
    background-image: url("./resources/category_light.svg");
}

.icon_glass {
    background-image: url("./resources/glass.svg");
}

.icon_glass.icon_light {
    background-image: url("./resources/glass_light.svg");
}

.icon_iba {
    background-image: url("./resources/iba.svg");
}

.icon_iba.icon_light {
    background-image: url("./resources/iba_light.svg");
}

.icon_alcohol {
    background-image: url("./resources/alcohol.svg");
}

.icon_alcohol.icon_light {
    background-image: url("./resources/alcohol_light.svg");
}

.icon_star {
    background-image: url("./resources/star.svg");
}

.icon_star.icon_light {
    background-image: url("./resources/star_light.svg");
}

.icon_star_filled {
    background-image: url("./resources/star_filled.svg");
}

.icon_star_filled.icon_light {
    background-image: url("./resources/star_filled_light.svg");
}

.icon_checked {
    background-image: url("./resources/checked.svg");
}

.icon_checked.icon_light {
    background-image: url("./resources/checked_light.svg");
}

.icon_arrow_up {
    top: -1px;
    position: relative;
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_down {
    top: 1px;
    position: relative;
    transform: rotate(180deg);
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_left {
    transform: rotate(-90deg);
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_right {
    transform: rotate(90deg);
    background-image: url("./resources/arrow_up.svg");
}

.icon_arrow_up.icon_light,
.icon_arrow_down.icon_light,
.icon_arrow_left.icon_light,
.icon_arrow_right.icon_light {
    background-image: url("./resources/arrow_up_light.svg");
}
