@import "../../../variables.css";

.menu-link,
.menu-link:visited {
    font-weight: var(--text-size-subheader-secondary);
    line-height: var(--text-line-height-subheader);
    font-size: var(--text-size-subheader-secondary);
    color: rgba(255, 255, 255, 0.6);
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-decoration: none;
}

.menu-link_selected {
    color: white;
    font-size: var(--text-size-subheader);
    font-weight: var(--text-weight-subheader);
}

.menu-link:hover:not(.menu-link_selected) {
    color: rgba(255, 255, 255, 0.8);
}

.menu-link:active:not(.menu-link_selected) {
    color: white;
}

.menu-link:disabled:not(.menu-link_selected) {
    color: rgba(255, 255, 255, 0.4);
}
