.app {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
@media (min-width: 592px) {
    .app {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.app__popup {
    width: 100%;
    height: 0;
    position: fixed;
    pointer-events: none;
}

.app__settings {
    width: 100%;
    overflow: scroll;
    max-height: 100%;
}
@media (min-width: 592px) {
    .app__settings {
        flex: 0 0 auto;
        width: 304px;
    }
}

.app__content {
    width: 100%;
    flex: 1 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
@media (min-width: 592px) {
    .app__content {
        flex: 1 1 auto;
        height: 100%;
    }
}

.app__content_hidden {
    overflow: hidden;
}

.app__loading-bar {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 0;
    pointer-events: none;
}
