.popup-content {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.1) 15%,
        rgba(0, 0, 0, 0.3)
    );
}

.popup-content__container {
    padding: 16px;
}

.popup-content__data {
    margin-top: 16px;
}
