.cocktail-details {
    padding: 24px;
    display: flex;
    justify-content: center;
    min-height: 100%;
    flex-wrap: wrap;
}
@media (min-width: 700px) {
    .cocktail-details {
        padding: 24px 64px;
    }
}

.cocktail-details__card {
    flex: 1 1 auto;
    max-width: 700px;
}
