@import "../../../variables.css";

.filter {
    color: var(--text-color);
    border: none;
    font-size: var(--text-size-control);
    line-height: var(--text-line-height-control);
    font-weight: var(--text-weight-control);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
    height: 32px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
}

.filter:first-child {
    border-top: 1px solid white;
}

.filter:disabled {
    background: rgba(255, 255, 255, 0.05);
}

.filter:hover {
    background: rgba(255, 255, 255, 0.2);
}

.filter:active {
    background: rgba(255, 255, 255, 0.3);
}

.filter_category {
    background: rgba(247, 57, 217, 0.1);
}
.filter_category:disabled {
    background: rgba(247, 57, 217, 0.05);
}

.filter_category:hover {
    background: rgba(247, 57, 217, 0.2);
}

.filter_category:active {
    background: rgba(247, 57, 217, 0.3);
}

.filter_glass {
    background: rgba(57, 133, 247, 0.1);
}

.filter_glass:disabled {
    background: rgba(57, 133, 247, 0.05);
}

.filter_glass:hover {
    background: rgba(57, 133, 247, 0.2);
}

.filter_glass:active {
    background: rgba(57, 133, 247, 0.3);
}

.filter_alcoholic {
    background: rgba(247, 183, 57, 0.1);
}

.filter_alcoholic:disabled {
    background: rgba(247, 183, 57, 0.05);
}

.filter_alcoholic:hover {
    background: rgba(247, 183, 57, 0.2);
}

.filter_alcoholic:active {
    background: rgba(247, 183, 57, 0.3);
}

.filter_ingredient {
    background: rgba(57, 247, 99, 0.1);
}

.filter_ingredient:disabled {
    background: rgba(57, 247, 99, 0.05);
}

.filter_ingredient:hover {
    background: rgba(57, 247, 99, 0.2);
}

.filter_ingredient:active {
    background: rgba(57, 247, 99, 0.3);
}

.filter__icon {
    display: block;
    width: calc(30px * 0.6);
    height: calc(30px * 0.6);
    margin: calc(32px * 0.2);
}
