@import "../../../variables.css";

.selectable-button {
    font-weight: var(--text-size-subheader-secondary);
    line-height: var(--text-line-height-subheader);
    font-size: var(--text-size-subheader-secondary);
    color: rgba(255, 255, 255, 0.6);
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.selectable-button_selected {
    color: white;
    font-size: var(--text-size-subheader);
    font-weight: var(--text-weight-subheader);
}

.selectable-button:hover:not(.selectable-button_selected) {
    color: rgba(255, 255, 255, 0.8);
}

.selectable-button:active:not(.selectable-button_selected) {
    color: white;
}

.selectable-button:disabled:not(.selectable-button_selected) {
    color: rgba(255, 255, 255, 0.4);
}
