.filters {
    width: 100%;
}

.filters__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filters__button {
    width: 100px;
}

.filters__list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.filters__item {
    margin: 0 5px 5px 0;
    max-width: 100%;
}
