:root {
    --main-color: white;
    --main-background-color: rgba(255, 255, 255, 0.1);

    --text-color: white;
    --text-color-secondary: rgba(255, 255, 255, 0.5);
    --text-font: Helvetica, Arial, sans-serif;

    --text-size: 16px;
    --text-line-height: 20px;
    --text-weight: normal;

    --text-size-name: 16px;
    --text-line-height-name: 20px;
    --text-weight-name: bold;

    --text-size-control: 18px;
    --text-line-height-control: 22px;
    --text-weight-control: normal;

    --text-size-title: 18px;
    --text-line-height-title: 22px;
    --text-weight-title: bold;

    --text-size-menu: 20px;
    --text-line-height-menu: 28px;
    --text-weight-menu: normal;

    --text-size-selected-menu: 24px;
    --text-line-height-selected-menu: 28px;
    --text-weight-selected-menu: bold;

    --text-size-subheader: 24px;
    --text-line-height-subheader: 28px;
    --text-weight-subheader: bold;

    --text-size-header: 32px;
    --text-line-height-header: 38px;
    --text-weight-header: bold;

    --filter-category-color: rgba(247, 57, 217, 0.1);
    --filter-glass-color: rgba(57, 133, 247, 0.1);
    --filter-alcoholic-color: rgba(247, 183, 57, 0.1);
    --filter-ingredient-color: rgba(57, 247, 99, 0.1);
}
