.card-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.card {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    padding: 16px;
    min-height: 100%;
}
@media (min-width: 1024px) {
    .card {
        padding: 32px;
    }
}

.card__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
@media (min-width: 700px) {
    .card__buttons {
        display: none;
    }
}

.card__navigation {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.card__close {
    display: none;
}
@media (min-width: 700px) {
    .card__close {
        display: block;
        position: absolute;
        top: 0;
        right: -8px;
        z-index: 1;
    }
}

.card__arrows {
    display: none;
}
@media (min-width: 700px) {
    .card__arrows {
        display: block;
        position: absolute;
        width: calc(100% + 80px);
        height: 50%;
        bottom: 16px;
        left: -40px;
    }
}

.card__right-arrow {
    display: none;
}
@media (min-width: 700px) {
    .card__right-arrow {
        display: block;
        position: absolute;
        right: 32px;
    }
}

.card__button {
    width: 32px;
    height: 32px;
    position: static;
}
@media (min-width: 700px) {
    .card__button {
        position: fixed;
    }
}

.card-container__gap {
    height: 24px;
    width: 100%;
}
