.card {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    padding: 16px;
    min-height: 100%;
}
@media (min-width: 1024px) {
    .card {
        padding: 32px;
    }
}
