.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.settings__item {
    width: 100%;
    margin: 16px 0;
}

.settings__item:first-child {
    margin: 0 0 16px 0;
}

.settings__item:last-child {
    margin: 16px 0 0 0;
}
